<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zenfile.mapper.StorageSourceMapper">

    <resultMap id="storageSource" type="org.zenfile.model.storage.entity.StorageSource">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="createTime" column="create_time"/>
        <result property="createUser" column="create_user"/>
    </resultMap>
    <select id="getStorageSourceById" parameterType="java.lang.Long" resultMap="storageSource">
        select *
        from `storage_source` where `id` = #{id};
    </select>

    <select id="getAllStorageSource" resultMap="storageSource">
        select *
        from `storage_source`
    </select>

    <select id="getStorageSourceByKey" resultMap="storageSource">
        select *
        from `storage_source` where `key` = #{key};
    </select>

    <insert id="insertStorageSource" parameterType="org.zenfile.model.storage.entity.StorageSource" useGeneratedKeys="true" keyProperty="id">
        insert into `storage_source` (`key`, `name`, `type`, `create_time`, `create_user`)
        values (#{source.key}, #{source.name}, #{source.type}, #{source.createTime}, #{source.createUser});
    </insert>

    <update id="updateStorageSourceById" parameterType="org.zenfile.model.storage.entity.StorageSource">
        update `storage_source`
        set `name` = #{source.name}, `key` = #{source.key}, `type` = #{source.type}
        where `id` = #{source.id};
    </update>

</mapper>