<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zenfile.mapper.StorageSourceConfigMapper">

    <resultMap id="storageSourceConfig" type="org.zenfile.model.storage.entity.StorageSourceConfig">
        <id property="id" column="id"/>
        <result property="storageId" column="storage_id"/>
        <result property="title" column="title"/>
        <result property="value" column="value"/>
    </resultMap>

    <select id="getStorageSourceConfigByStorageId" resultMap="storageSourceConfig">
        select *
        from `storage_source_config`
        where `storage_id` = #{storageId};
    </select>
</mapper>